<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <title>TheNetNinja Angular Playlist</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="app/lib/angular.min.js"></script>

    <script src="app/app.js"></script>
  </head>

<div ng-controller="NinjaController">
  <input type='text' ng-model="search" />
<!-- ng-model="search" makes a search bar show up!! then it will search
through the names to show names that match the things you type into it!-->
<ul>
  <li ng-repeat="ninja in ninjas | orderBy: '-name' | filter: search ">
    {{ninja.name}} - {{ninja.rate | currency}}
  </li>
<!-- adding the orderBy filter to sort names alphabetically
putting a minus before the name reverses it, pretty cool.-->
</ul>
  </body>
</html>
